body{
    background-color: red;
}

p::after{
    color: white;
    content: "Movil";
}

@media (min-width: 600px) and (max-width: 1024px){
    body{
        background-color: green;
    }
    p::after{
        color: white;
        content: "tablet";
    }
}

@media (min-width: 1024px){
    body{
        background-color: blue;
    }
    p::after{
        color: white;
        content: "Escritorio";
    }
}

article{
	background: white;
	float: left;
	min-height: 500px;
	padding: 20px;
	text-align: justify;
	width: 70%;
}


.bloque-derecha{
	background: white;
	margin-top: -40px;
	float: right;
	width: 290px;
}

.bloque-derecha .titulo{
	background: #1d1d1d;
	color: white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}


.bloque-derecha section{
	background: url('../img/anuncio.jpg') no-repeat;
	height: 250px;
	width: 100%;
}