* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrusel {
    display: flex;
    width: 100%;
    height: 100%;
}

.coches {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%;
}

.coche {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 30px; /* Reduce el espacio entre imagen y texto */
    padding: 50px;
    background: #000;
    color: white;
}

/* Imagen a la izquierda */
.coche img {
    max-width: 40%; /* Reduce el tamaño de la imagen */
    height: auto;
    order: 1;
    opacity: 0; /* Inicia oculta */
    animation: movimientoCoche 3s ease-in-out forwards infinite;
    z-index: 0;
}

/* Texto a la derecha */
.coche .texto {
    width: 45%;
    text-align: left;
    order: 2;
    display: flex;
    flex-direction: column; /* Organiza título arriba y texto abajo */
    align-items: flex-start; /* Asegura que el texto esté alineado a la izquierda */
}

.texto{
    z-index: 1;
}

/* Ajustes de títulos y párrafos */
.coche h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: left;
}

.coche p {
    font-size: 1rem;
    line-height: 1rem;
}

/* Indicadores */
.indicadores {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.punto {
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.punto.active {
    background: white;
}

/* Animación de Fade In-Out para la imagen */
@keyframes movimientoCoche {
    0% {
        opacity: 0;
        transform: scale(0.9);
        transform: translate(-200px);
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    80%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.9);
        transform: translate(200px);
    }
}
