* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #fafafa;
}
.encabezado {
    display: flex; 
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    padding: 30px 10px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    width: 50px;
    height: 50px;
    left: 1px;
    right: inherit;
}
.logo-texto{
    width: 150px;
    height: 60px;
}

.busqueda{
    display: flex;
    width: 20%;
    height: 20px;
    margin-right: 10px;
    align-items: center;
}
.busqueda img{
    width: 20px;
    height: 20px;
    margin: 20px;
}
.search-input {
    width: 250px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    border: solid black;
}
.contenido {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    overflow: hidden;
}
.imagen {
    width: 100%;
    height: auto;
}
.detalle {
    padding: 15px;
}
.usuario{
    margin-bottom: 20px;
}
.usuario h4 {
    font-size: 14px;
    font-weight: bold;
}
.usuario span {
    display: block;
    font-size: 12px;
}

.comentario h4 {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}
.comentario p {
    font-size: 14px;
    display: inline;
}
.time {
    display: block;
    font-size: 12px;
    color: #8e8e8e;
    margin-top: 5px;
}

.añadir {
    align-items: center;
    width: 40px;
    height: 70px;
    margin: 10px auto;
}
.añadir img{
    width: 35px;
    height: 35px;
}

.iconos {
    justify-content: space-around;
    margin: 50px auto;
}
.iconos p{
    font-size: 14px;
    font-weight: bold;
}

.icon {
    width: 25px;
    height: 25px;
    
}
.iniciar{
    font-size: 14px;
}
.iniciar p{
    color: #8e8e8e;
}