* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #fafafa;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
}
.encabezado .logo {
    height: 40px;
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.logo-text {
    font-family: 'Billabong', cursive;
    font-size: 24px;
    color: #262626;
}



.instagram-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    background-color: white;
    border: 1px solid #dbdbdb;
}



.navbar input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}


.post {
    padding: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .post-info {
    display: flex;
    flex-direction: column;
}

.post-header .username {
    font-weight: bold;
}

.post-header .location {
    font-size: 0.9em;
    color: gray;
}

.post-image img {
    width: 100%;
    height: auto;
}

.post-footer {
    padding: 10px 0;
}

.post-footer p {
    margin-bottom: 5px;
}

.time, .date {
    font-size: 0.9em;
    color: gray;
}

.comments {
    margin-top: 10px;
}

.comments .hearts {
    color: black;
}

.likes {
    font-weight: bold;
    margin-top: 10px;
}
