* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.encabezado {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 40px 40px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-150%); 
}
.logo-img {
    width: 40px;
    height: 40px;
    margin: 100px;
    margin-right: 10px;
}
.logo-texto{
    width: 150px;
    height: 60px;
    margin-right: 10px;
}
.busqueda{
    display: flex;
    width: 20%;
    height: 20px;
    margin-right: 10px;
    
}
.buscar{
    display: flex;
    padding: 5px 80px;
    border: solid black;
    border-radius: 5px;
}

/*CSS de contenido de pagina*/
.contenido {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.contenido img {
    width: 100%;
    height: auto;
}
.posicion {
    padding: 30px;
    margin-bottom: 50px;

}
.usuario{
    width: 100%;
    margin-bottom: 50px;
}
.usuario h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.usuario span{
    font-size: 12px;
    color: black;
} 

.comentario {
    margin-bottom: 20px;
}
.comentario h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.comentario p {
    font-size: 14px;
    margin-bottom: 5px;
}

.comentario span {
    font-size: 12px;
    color: #999;
}
.añadir{
    align-items: center;
    width: 40px;
    height: 70px;
    margin: 0 auto;
}
.icono1{
    width: 20px;
    align-items: center;
    position: absolute;
}
.icono2{
    width: 20px;
    align-items: center;
    position: absolute;
    left: 74%;
}
.icono3{
    width: 20px;
    align-items: center;
    position: absolute;
    left: 80%;
}
.icono4{
    width: 20px;
    align-items: center;
    position: absolute;
    left: 90%;
}