:root{
    --negro: #000000;
    --gris-oscuro: #333333;
    --gris-medio: #666666;
    --gris-claro: #CCCCCC;
    --marron-oscuro: #3E2723;
    --verde: #4caf08;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "trebuchet ms", arial, sans-serif;
}

header{
    display: flex;
    background-color: var(--gris-oscuro);
    color: var(--gris-claro);
    padding: 2px;
}
header div{
    float: left;
    width: 75%;
}
header div h2{
    margin-top: 10px;
}
header nav{
    float: right;
    width: 25%;
}
header > nav > ul{
    display: flex;
    text-align: center;
}
header > nav > ul > li{
    width: 25%;
    list-style: none;
    background-color: var(--verde);
    margin:20px;
}
header > nav > ul > li> a{
    text-decoration: none;
}

main{
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
}
.presentacion{
    display: flex;
    line-height: 1.5em;
}
.presentacion div{
    width: 70%;
    float: left;
}
.presentacion div article{
    margin-bottom: 1%;
    padding: 2%;
    background-color: var(--gris-claro);
    border-radius: 10px;
}
.presentacion figure{
    width: 30%;
    margin: 10px;
    align-items: center;
    float: right;
    text-align: center;
}
.presentacion figure img{
    width: 100%;
}
ul{
    list-style-image: url("imgs/ico-list.png");
}
ul > li{
    list-style: none;
}
.presentacion figure img{
    width: 100%;
}
.bares{
    width: 100%;
    display: flex;
    padding: 20px 0;
}
.bares article{
    width: 25%;
    margin: 30px;
}
.bares article figure{
    justify-content: center;
    background-color: var(--gris-medio);
}
.bares article figure figcaption h3{
    color: var(--verde);
}
.bares article figure img{
    width: 100%;
}

.bares article div{
    text-align: center;
    background-color: var(--gris-oscuro);
    text-decoration: none;
    margin: 5px 0;
    padding: 5px;
}
.bares article div a{
    color: #000000;
}

footer{
    display: flex;
    width: 100%;
    float: right;
    background-color: var(--gris-oscuro);
}
footer div{
    color: var(--verde);
    text-align: center;
    width: 30%;
}
footer div img{
    width: 18%;
}




