:root {
    --negro: #000000;
    --rojo-telepizza: #BE0000;
    --crema: rgb(244,239,229);
    --blanco: #FFFFFF;
    --marron-oscuro: #3E2723;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "trebuchet ms", arial, sans-serif;
    /*border: 1px solid red;*/
}

body > * {
    padding: 20px 50px;
}

