:root {
    --color-bottom: #c1272e;
    --color-bt1-bt2: #d33c3c;
    --color-cielo: rgb(17, 17, 154);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ejercicio {
    width: 600px;
    height: 600px;
    margin: 2vh 2vw;
}

.enunciado {
    width: 900px;
    height: auto;
    margin: 2vh 2vw;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enunciado h1, .enunciado h2 {
    padding: 1rem 0 0.3rem 1rem;
}

.enunciado p {
    font-size: 0.8rem;
}


.ejercicio {
    position: relative;
}

.ejercicio > * {
    position: relative;
    overflow: hidden;
}

.contenedor {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px 20px;
    background-color: var(--color-cielo);
}

.bottom{
    background-color: var(--color-bottom);
    height: 70px; 
    width: 350px;
    bottom: 80px;
    left: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.bt1,.bt2{
    background-color: var(--color-bt1-bt2);
    height: 20px;
    width: 370px;
    position: absolute;
    border-radius: 10px; 
}
.bt1 {
    top: -10px;
    left: -10px;
}
.bt2 {
    bottom: -10px;
    left: -10px;
}

.contenedor > * {
    position: absolute;
}

.casa {
    width: 40%;
    height: 35%;
    top: 52%;
    left: 40%;
    background-image: url('media/imgs/casa.png');
    background-size: cover;
    position: relative;
    z-index: 0;
}

.casa > * {
    position: absolute;
}
.casa:hover .humo{
    scale: 1;
    transition: all 2s ease;
}

.humo {
    width: 90%;
    left: 33%;
    top: -62%;
    scale: 0;
}

.puerta {
    width: 16%;
    height: auto;
    bottom: 0%;
    left: 41%;
    transition: all 3s ease-in;
    z-index: 1;
}
.puerta:hover{
    transition: all 1s ease;
    transform-origin:bottom left; 
    scale: 0.85;
    transform: rotateY(-65deg);
}

.piruleta {
    width: 11%;
    bottom: 0%;
    left: 44%;
    visibility: hidden;
    z-index: 2;
    transition: all 1s ease;
}
.puerta:hover ~ .piruleta{
    transition: all 3s ease;
    visibility: visible;
    transform: rotate(-380deg) translate(-5px, -60px);
    scale: 3;
}

.copos {
    width: 1000px;
    height: 500px;
    top: -500px;
    left: -1000px;
    /*border: 1px solid red;*/
}

.regalo {
    width: 10%;
    height: auto;
    left: 20%;
    top: 18%;
    scale: 1;
    visibility: hidden; /* El regalo está oculto al principio */
    transition: transform 1s ease-in-out; /* Transición para el movimiento de caída */
}

.santa {
    width: 50%;
    height: auto;
    top: 30%;
    right: -30%;
    transition: all 5s ease; /* Animación para el movimiento de Santa */
}

.santa:hover {
    transform: translate(-800px, -150px); /* Movimiento de Santa cuando el cursor pasa sobre él */
    transition-delay: 0s; /* No retraso en el hover de Santa */
}

/* El regalo aparece y cae cuando Santa pasa sobre él */
.santa:hover ~ .regalo {
    visibility: visible; /* El regalo se vuelve visible */
    opacity: 1; /* El regalo se hace visible con opacidad */
    transform: translate(0px, 295px) rotate(360deg); /* El regalo cae y rota */
    transition: transform 1s ease-in-out; /* Transición de la caída */
    transition-delay: 1s; /* No hay retraso, el regalo cae cuando Santa pasa */
}

.casa:hover ~ .copos{
    transition: all 3s ease-out;
    transform: translate(800px, 500px);
}
